*.pyc
*.*~
*.sql.gz
.svn
*.rej
*.orig
.idea
.coverage
diff_coverage.html
cover/
.nose-stopwatch-times
.noseids
.project
.pydevproject
.settings
build.out
yummy/conf/local_settings.py
.tests
deploy/.vagrant
deploy/download_cache/
